* {
  margin: 0;
  padding: 0;
}
/* login form styles */
.form-container {
  background-color: white;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
}
.form-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.form-container form > button {
  border: none;
  padding: 1em 2em;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  background-color: darkcyan;
  color: white;
  border-radius: 0.5rem;
}
.form-container form > button:hover {
  transition: background-color 0.1s ease-out;
  cursor: pointer;
  background-color: rgba(0, 139, 139, 0.69);
}
/* navbar styles */
.pageNav {
  background-color: grey;
  color: white;
  font-weight: 600;
}
.pageNav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
}
.pageNav a {
  text-decoration: none;
  color: white;
}
.pageNav ul li {
  padding: 1.5rem 2rem;
}
.pageNav ul li:hover {
  transition: all 0.1s ease-out;
  background-color: white;
  color: grey;
}
